/* Reset some default styles */
body {
    background-color: var(--light-bg);
    color: var(--light-text);
}

/* Header styles */
header {
    background-color: var(--light-header-bg);
    color: var(--light-text);
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

#theme-toggle {
    background-color: var(--light-accent);
    color: var(--light-button-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

#theme-toggle:hover {
    background-color: var(--light-button-hover);
}

/* Main content styles */
main {
    padding: 20px;
}
